.landing_page_list{

    display: flex;
    flex-direction: column;
    width: 70vw;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    padding: 4vw;
    margin-top: 100px;

}
.landing_page_info{

    margin-left: 3vw;
    margin-right: 3vw;
    display: flex;
    flex-direction: column;

}


  .LP_view{
      
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.LP_view div *{

    margin-right: 10px;


}
.none{
    display: none;
}